##################################### GCP Credentials ###################
export GOOGLE_APPLICATION_CREDENTIALS=/projects/gcp-landing-zone/.auth/ex-bootstrap-388010.json
export PROJECT_ID=ex-bootstrap-388010
export PROJECT_NAME=ex-bootstrap-prod


##################################### tfvars generator ###################
export REGION=europe-west9
export ORGANIZATION_ID=123456798101
export ORGANIZATION_PUBLIC_DOMAIN=example.com
export ORGANIZATION_PRIVATE_DOMAIN=example.local
export ORGANIZATION_NAME=ex
export CONTAINER_ID=folders/203040506070
export BILLING_ACCOUNT_ID=01023E-01023E-01023E
export IAC_SERVICE_ACCOUNT=lz-sa@ex-bootstrap-388010.iam.gserviceaccount.com
export IAC_SERVICE_BACKEND_BUCKET=ex-prod-bkt-europe-west9-tfstate-3e26