gcp_organization_id     = "12345678910"
gcp_parent_resource_id  = "folders/242505545"
gcp_organization_domain   = "company.cloud"
gcp_billing_account     = "012345-AB01CD02-EF03GH04"
gcp_default_region1     = "europe-west4"
gcp_default_region1_azs = [
  "europe-west4-a",
  "europe-west4-b",
  "europe-west4-c"
]

##################################### Terraform SA ###################
gcp_terraform_sa_email           = "landing-zone-automation@infra-automation-340608.iam.gserviceaccount.com"
gcp_terraform_sa_id              = "projects/infra-automation-340608/serviceAccounts/landing-zone-automation@infra-automation-340608.iam.gserviceaccount.com"
gcp_group_org_admins             = "gcp-organization-admins@company.cloud"
gcp_group_org_security_admins    = "gcp-security-admins@company.cloud"
gcp_group_org_security_reviewers = "gcp-security-reviewers@company.cloud"
gcp_group_org_billing_admins     = "gcp-billing-admins@company.cloud"
gcp_group_org_viewers            = "gcp-organization-viewers@company.cloud"
gcp_group_org_network_admins     = "gcp-network-admins@company.cloud"
gcp_group_org_network_viewers    = "gcp-network-viewers@company.cloud"
##################################### GCP Organization ###################
# The tree of organizational units to construct. Defaults to an empty tree.
gcp_organization_environments    = {
  experiment  = {
    environment_code = "exp"
    network          = {
      prefix      = "vpc-exp-network-hub",
      cidr_blocks = {
        private_subnet_ranges = ["172.18.0.0/24"]
        data_subnet_ranges = ["172.18.1.0/24"]
      }
    }
    children         = [
      {
        name     = "Department_Marketing",
        children = []
      },
      {
        name     = "Department_HR",
        children = []
      }
    ]
  },
  development = {
    environment_code = "dev"
    network          = {
      prefix      = "vpc-dev-network-hub",
      cidr_blocks = {
        private_subnet_ranges = ["172.18.2.0/24"]
        data_subnet_ranges = ["172.18.3.0/24"]
      }
    }
    children         = [
      {
        name     = "Department_HR",
        children = []
      },
      {
        name     = "Department_Marketing",
        children = []
      }
    ]
  }
}
# The set of accounts to create. Defaults to an empty list.
gcp_business_projects            = [
  {
    name             = "uc1-kube"
    department       = "Department_HR"
    environment_code = "exp"
    budget           = {
      amount                    = 100,
      time_unit                 = "MONTHLY",
      email_addresses_to_notify = []
    }
    network          = {
      cidr_blocks = {
        private_subnet_ranges = ["10.0.0.0/27"]
        data_subnet_ranges = ["10.1.0.0/27"]
      }
    }
  },
  {
    name             = "uc2-ml-ia"
    department       = "Department_Marketing"
    environment_code = "exp"
    budget           = {
      amount                    = 100,
      time_unit                 = "MONTHLY",
      email_addresses_to_notify = []
    }
    network          = {
      cidr_blocks = {
        private_subnet_ranges = ["10.0.0.32/27"]
        data_subnet_ranges = ["10.1.0.32/27"]
      }
    }
  },
  {
    name             = "uc3-catalyse"
    department       = "Department_HR"
    environment_code = "dev"
    budget           = {
      amount                    = 100,
      time_unit                 = "MONTHLY",
      email_addresses_to_notify = []
    }
    network          = {
      cidr_blocks = {
        private_subnet_ranges = ["10.0.0.64/27"]
        data_subnet_ranges = ["10.1.0.64/27"]
      }
    }
  }
]

gcp_labels = {
  "managed-by" = "Cloud-Center"
}

gcp_infra_projects = {
  security = {
    name   = "orga-security-audit"
    folder = "Infrastructure"
    budget = {
      amount                    = 100,
      time_unit                 = "MONTHLY",
      email_addresses_to_notify = []
    }
  }

  observability = {
    name   = "orga-monitoring-logging"
    folder = "Infrastructure"
    budget = {
      amount                    = 100,
      time_unit                 = "MONTHLY",
      alert_pubsub_topic        = null
      email_addresses_to_notify = []
    }
  }

  networking_hub = {
    name    = "orga-network-hub"
    folder  = "Infrastructure"
    budget  = {
      amount                    = 100,
      time_unit                 = "MONTHLY",
      email_addresses_to_notify = []
    }
    network = {
      name        = "vpc-org-shared-hub",
      cidr_blocks = {
        public_subnet_ranges = ["172.16.0.0/24"]
        private_subnet_ranges = ["172.16.1.0/24"]
        data_subnet_ranges = ["172.2.0.0/24"]
      }
    }
  }
}

