gcp_org_id     = "{{ env("ORGANISATION_ID") }}"
gcp_org_name   = "{{ env("ORGANIZATION_NAME") }}"
gcp_parent_container_id  = "{{ env("CONTAINER_ID") }}"
gcp_org_public_domain   = "{{ env("ORGANISATION_PUBLIC_DOMAIN") }}"
gcp_org_private_domain   = "{{ env("ORGANISATION_PRIVATE_DOMAIN") }}"
gcp_billing_account     = "{{ env("BILLING_ACCOUNT_ID") }}"
gcp_default_region     = "{{ env("REGION") }}"

##################################### Terraform SA ###################
gcp_terraform_sa_email           = "{{ env("IAC_SERVICE_ACCOUNT") }}"
gcp_bootstrap_project_id         = "{{ env("PROJECT_ID") }}"
gcp_group_org_admins             = "gcp-organization-admins@{{ env("ORGANISATION_PUBLIC_DOMAIN") }}"
#gcp_group_org_security_admins    = "gcp-security-admins@{{ env("ORGANISATION_PUBLIC_DOMAIN") }}"
#gcp_group_org_security_reviewers = "gcp-security-reviewers@{{ env("ORGANISATION_PUBLIC_DOMAIN") }}"
gcp_group_org_billing_admins     = "gcp-billing-admins@{{ env("ORGANISATION_PUBLIC_DOMAIN") }}"
#gcp_group_org_viewers            = "gcp-organization-viewers@{{ env("ORGANISATION_PUBLIC_DOMAIN") }}"
#gcp_group_org_network_admins     = "gcp-network-admins@{{ env("ORGANISATION_PUBLIC_DOMAIN") }}"
#gcp_group_org_network_viewers    = "gcp-network-viewers@{{ env("ORGANISATION_PUBLIC_DOMAIN") }}"

##################################### Others ###################
gcp_labels = {
  "created_by" = "lz-team"
  "managed_by" = "lz-team"
}
